*
{
    overflow-x: hidden !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.containerpes
{
    margin:0;
    min-height:100vh;
    min-width:99vw;
}

body
{
    margin:0
}

.fade-in-right{-webkit-animation:fade-in-right 2s cubic-bezier(.39,.575,.565,1.000) backwards;animation:fade-in-right 2s cubic-bezier(.39,.575,.565,1.000) backwards}

@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.shake-vertical{-webkit-animation:shake-vertical 5s ease-in-out infinite;animation:shake-vertical 5s ease-in-out infinite reverse}

@-webkit-keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-1px);transform:translateY(-1px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-1px);transform:translateY(-1px)}}@keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-1px);transform:translateY(-1px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-1px);transform:translateY(-1px)}}


@font-face {
    font-family: "Code";
    src: url('../Fonts/CODEBold.otf');
    }

#projectName
{
    color:white;
    margin:18vw ;
    font-family: "Code";
    
    font-size: 8vw;
    text-align: right
}


  .fade-in-bottom{ font-size: 100%;   font-family: "Code";
    -webkit-animation:fade-in-bottom 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bottom 2s cubic-bezier(.39,.575,.565,1.000) both}

  
@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

img
{
    
    height: 100vh;
    width: 100vw;
    object-fit: scale-down;
}





.fabs{
    font-size: 30px;
    line-height: 60px !important;
    transition: .3s;
    color: #000;
  }
  
a:hover .fabs{
    color: #fff;
  }
  
a .fabs{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
  }
  

  
  a:hover .fabs{
    background-color: rgba(0, 0, 0, 0.829);
  }