@font-face {
  font-family: "Code";
  src: url('CODEBold.otf');
  }

.var-highlight{
    color: #C0AD60;

  }
  .string-highlight{
    color: rgba(253, 149, 90, 0.8);

  }

p.var-highlight
{
    display: inline;
}

p.string-highlight
{
    display: inline;
}

.container {
  text-align: center;
}

.container pre {
  text-align: left;
  white-space: pre-line;
}



  #typewriter{
      
    font-size: 1em;
    margin: 0;
    font-family: "Code";

}

#typewriter:after{
    content: "|";
    animation: blink 500ms linear infinite alternate;
  }
  
  @-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  a
  {
      text-decoration: none;
  }


  /* Dropdown Button */
  .dropdown {
    position: relative;
    width: 230px;
    filter: url(#goo);
    
}

.dropdown__text
{
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    color: orange;
}
.dropdown__face, .dropdown__items {
    background-color: black;
    padding: 20px;
    border-radius: 25px;
    
}
.dropdown__face {
    display: block;
    position: relative;
    
}
.dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: block;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__items::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
}
.dropdown__arrow {
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
}
.dropdown input {
    display: none;
}
.dropdown input:checked ~ .dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
}

* {
    box-sizing: border-box;
}
svg {
    display: none;
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
.C-carousel {
  background: #212121;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.C-track {
  opacity: 1;
  transition: all 400ms ease;
}
.C-track--reinit {
  opacity: 0;
  transition: all 0ms linear;
}
.C-slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: black no-repeat center / cover;
  background-blend-mode: overlay;
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
}
.C-carousel.initialized .C-slide {
  border-radius: 100vw;
  transform: scale(0.5) skew(-5deg) rotate(0);
  transition: all 700ms ease;
}
.C-carousel.initialized .C-slide.active {
  transform: scale(1) skew(0) rotate(0);
  border-radius: 0;
}

.C-slide:nth-child(2) {
  background-color: white;
}

.C-slide:nth-child(3) {
  background-color: black;
}



.C-navigation {
  position: absolute;
  bottom: 5px;
  left: 50%;
  ;
  z-index: 2;
}
.C-carousel--vertical .C-navigation {
  bottom: auto;
  left: auto;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
@media (max-width: 480px) {
  .C-carousel--horizontal .C-navigation {
    bottom: 50px;
 }
}
.C-navigation__dot {
  width: 12px;
  height: 12px;
  background: #fff;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
}
.C-navigation__dot.active {
  background: #33f;
  transform: scale(1.3);
}
.C-carousel-navigation-button {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;

  box-shadow: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 300mes ease;
  text-transform: capitalize;
}
.C-carousel-navigation-button:hover {
  
}
.C-carousel-navigation-button:active {
  background: #fff;
}
.C-carousel-navigation-button--next {
  left: auto;
  right: 10px;
}
.C-carousel--vertical .C-carousel-navigation-button {
  bottom: 10px;
  top: auto;
  left: auto;
  right: 25px;
  transform: translateY(0);
}
.C-carousel--vertical .C-carousel-navigation-button--next {
  right: 20px;
  border:none
}
.C-carousel--vertical .C-carousel-navigation-button--prev {
  border:none
}
.C-slide-title {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: all 300ms ease;
  transition-delay: 500ms;
}
@media (min-width: 480px) {
  .C-slide-title {
    font-size: 2rem;
 }
}
@media (min-width: 768px) {
  .C-slide-title {
    font-size: 42px;
 }
}
.active .C-slide-title {
  transform: translateY(0) translateX(0);
  opacity: 1;
}
/* Pen controls */
.pen-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.pen-controls button {
  border: 2px solid blueviolet;
  box-shadow: none;
  border-radius: 0;
  font-weight: bold;
  color: blueviolet;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}


@import "compass/css3";
 @import url('https://fonts.googleapis.com/css?family=Inconsolata');

 .containers {
	 display: flex;
	 align-content: center;
	 justify-content: center;
	
}
 .btne {
	 color: #101832;
	 cursor: pointer;
	 display: inline-block;
	 letter-spacing: 0.075em;
	 padding: 0.8em 1em;
	 margin: 2vw;
	 position: relative;
	 align-self: center;
	 text-transform: uppercase;
	 border: 3px #00bcdd solid;
	 border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
	 border-image-slice: 1 1 0 0;
	 z-index: 1;
	 box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
	 transform-origin: left bottom;
	 -webkit-transition: all 200ms ease-in-out;
	 -moz-transition: all 200ms ease-in-out;
	 -o-transition: all 200ms ease-in-out;
	 transition: all 200ms ease-in-out;
   margin-top: 4vh;
   margin-bottom: 4vh;
}
 .btne:before, .btne:after {
	 border: 3px #00bcdd solid;
	 content: '';

	 position: absolute;
	 z-index: -1;
}
 .btne:before {
	 border-image: linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
	 border-image-slice: 1 1 0 1;
	 left: -0.59em;
	 top: 0.15em;
	 width: 0.31em;
	 height: 100%;
	 transform: skewY(-45deg);
}
 .btne:after {
	 border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
	 border-image-slice: 1 1 1 0;
	 bottom: -0.61em;
	 right: 0.16em;
	 width: 100%;
	 height: 0.31em;
	 transform: skewX(-45deg);
}
 .btne:hover {
	 background-color: white;
	 background-size: 90%;
	 transform: translate(0.5em, -0.5em);
	 box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
 .cta {
	 background-color: #00bcdd;
}
 .cta:before {
	 border-image-slice: 1;
}
 .cta:after {
	 border-image-slice: 1;
}
 .cta:hover {
	 background: white;
	 border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
	 border-image-slice: 1;
	 color: #101832;
}
 .cta:hover:before {
	 height: 100%;
}
 .cta:hover:after {
	 width: 100%;
}
 .bg {
	 background: none;
	 border: 3px solid #e37208;
	 color: black;
}
 .bg:before, .bg:after {
	 background: #e37208;
	 border: 3px solid black;
}
 .bg:hover {
	 border-image: none;
}
 .bg:hover:before, .bg:hover:after {
	 background: #e37208;
}
 
.social-menu ul{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fabs{
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li a:hover i{
  color: #fff;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li a:hover{
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(9) a:hover{
  background-color: #E4405F;
}


 @-webkit-keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}@keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}


.shake-vertical{-webkit-animation:shake-vertical 2.5s cubic-bezier(.455,.03,.515,.955) infinite both;animation:shake-vertical 2.5s cubic-bezier(.455,.03,.515,.955) infinite both}


